.contact {
  padding-bottom: 90px;
  padding-top: 80px;
  .container {
    h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 58px;
      color: var(--title-color);
      margin-bottom: 25px;
      position: relative;

      img {
        position: absolute;
        left: -40px;
        top: -20px;
      }
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
      .left-content {
        position: relative;
        width: 40%;
        background: #f3f3f3;
        border-radius: 3px;
        padding: 5px 40px 45px;

        .info {
          h3 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: var(--grey-color);
            margin-bottom: 10px;
            margin-top: 40px;
          }

          p , a{
              text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: var(--title-color);
          }
        }

        .messangers {
          position: absolute;
          top: 35%;
          right: 15%;
          .twitter {
            margin: 35px 0;
          }
          img {
            display: block;
          }
        }
      }

      .map {
          height: 438px;
          width: 58%;
          iframe {
            width: 100%;
            height: 100%;
          }  
      }
    }
  }
}
