@import 'node_modules/react-modal-video/scss/modal-video.scss';
.AnimationVideo {
  padding: 35px 0 35px;
  margin-bottom: 100px;
  background: linear-gradient(to right, #fcfcfc 20%, #fff 10%);

  .container {
    .right-section {
      width: 65%;
      margin-left: auto;
      position: relative;
      height: 340px;

      h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: var(--main-color);
        margin-bottom: 25px;
      }

      h5 {
        margin-bottom: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: var(--main-color);
      }

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: var(--text-color);
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start;

        span {
          color: var(--main-color);
          margin-right: 5px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 17px;
          line-height: 25px;
        }
      }

      .list-group {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          .list {
              width: 32%;
          }
      }

      .player-img {
        cursor: pointer;
        position: absolute;          
        top: 0;
        left: -54%;

        .img {
            display: flex;
            align-items: center;
            justify-content: center;

            .playerIcon {
                position: absolute;
            }
        }
    }
    }
  }
}
