@import 'node_modules/react-modal-video/scss/modal-video.scss';

.mainContent {
  background-color: transparent;
  padding: 140px 0 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../assets/images/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1200px) {
    padding: 90px 0 50px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    .content {
      width: 50%;
      @media (max-width: 767px) {
       width: 100%;
      }
     
      h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 58px;
        color: #ffffff;
        margin-bottom: 40px;

        span {
          color: var(--main-color);
        }

        @media (max-width: 1200px) {
          font-size: 38px;
          line-height: 48px;
        }
        @media (max-width: 992px) {
          font-size: 33px;
          line-height: 44px;
        }
        @media (max-width: 767px) {
          font-size: 28px;
          line-height: 38px;
        }
        @media (max-width: 576px) {
          font-size: 25px;
          line-height: 38px;
        }
        
      }

      p {
        display: flex;
        align-items: center;
        font-family: Montserrat;
        margin-bottom: 28px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;

        img {
          margin-right: 10px;
        }

        @media (max-width: 1200px) {
          font-size: 17px;
          line-height: 19px;
        }
        @media (max-width: 992px) {
          font-size: 16px;
          line-height: 18px;
        }
        @media (max-width: 767px) {
          font-size: 15px;
          line-height: 17px;
        }
        
      }
    }

    .slideVideo {
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      position: relative;
      width: 420px;
      height: 420px;
      padding: 20px;
      background-color: transparent;
      overflow: hidden;

      @media (max-width: 1200px) {
        width: 380px;
        height: 380px;
      }
      @media (max-width: 767px) {
        display: block;
        margin: 0 auto;
        width: 340px;
        height: 340px;
      }

      @media (max-width: 576px) {
        width: 300px;
        height: 300px;
      }
      
      
      .slidervideo {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        img {
          border-radius: 50%;
          @media (max-width: 1200px) {
            width: 340px;
            height: 340px;
          }
          @media (max-width: 767px) {
            width: 300px;
            height: 300px;
          }
          @media (max-width: 576px) {
            width: 260px;
            height: 260px;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(46, 42, 42, 0.6);
        }
      }

      .background {
        background: var(--main-color);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);

        @keyframes pulse-border {
          0% {
            transform: scale(1);
            opacity: 1;
          }
         
          100% {
            transform: scale(1.6);
            opacity: 0;
          }
        }

        &::before {
          box-sizing: border-box;
          content: '';
          color: rgba(251, 110, 1, 0.46);
          position: absolute;
          z-index: 0;
          display: block;
          width: 70px;
          height: 70px;
          background: rgba(251, 110, 1, 0.46);
          border-radius: 50%;
          animation-name: pulse-border;
          animation-duration: 1500ms;
          animation-timing-function: ease-out;
          animation-delay: 0.2s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
        }
      }
      h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translateY(-65%) translateX(-50%);
      }
    }
  }
}
